<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Goldfynch is a could based e-discovery service that was built from the ground up. GoldFynch is targeted at small and solo law practitioners. GoldFynch is loaded with features and new ones are being added everyday.  The pricing is all inclusive and transparent. Since Goldfych is built on the cloud it is very cost effective.  Pricing is subscription based and only for what you use.">
    <meta name="author" content="Mazira, LLC">
	<meta name="keywords" content="ediscovery, SaaS, Cloud based ediscovery, legal, software, small and solo practices ">

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- GoldFynch font -->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen:300,400' rel='stylesheet' type='text/css'>

    <title>GoldFynch: e-discovery, simplified.</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
				<div>
					<div>
						<a class="navbar-brand page-scroll" href="./index.html"><img class="goldfynch-logo" src="img/logo_square.png" style="float:left;" align="bottom">
							GoldFynch
						</a>
					</div>
				</div>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="./index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./features.html">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://blog.goldfynch.com/">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./faq.html">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./about.html">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://goldfynch.com/app/">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll highlight-link" href="https://goldfynch.com/app/signup">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {{ content }}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
			<hr>
			<div class"row">
				<div class="col-md-4">
		            <p class="footer-text">
						<a href="https://www.google.com/maps/place/Iowa+City+Area+Development+Group+At+MERGE/@41.6592569,-91.5345077,17z/data=!3m1!4b1!4m5!3m4!1s0x87e441e55f441ff3:0x9f63ab4c21b9a3d!8m2!3d41.6592569!4d-91.532319" target="_blank">136 S Dubuque Street, Iowa City, IA 52240</a>
		            </p>
					<p class="footer-text">
						<a href="tel:8663196068">Phone</a> /  <a href="./contact.html">Contact</a> / <a href="mailto:info@goldfynch.com">Email</a> /  <a href="./services.html">Services</a> /  <a href="./about.html">About Us</a>
					</p>
				</div>
				<div class="col-md-4">
		            <a class="footer-logo" href="#page-top"><img src="img/logo_full.png" height="50px"></a>
				</div>
				<div class="col-md-4">
					<div class="footer-icon">
						<a class="fa fa-facebook-square" href="https://www.facebook.com/pages/Mazira/216219471762517" target="_blank"></a>
						<a class="fa fa-twitter" href="https://twitter.com/Mazira" target="_blank"></a>
						<a class="fa fa-linkedin" href="http://www.linkedin.com/company/mazira" target="_blank"></a>
					</div>
		            <p class="footer-text">All Rights Reserved / <a href="./legal.html">Legal</a> / Copyright 2016</p>
				</div>

			</div>

        </div>
    </footer>



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>
    <script src="js/aos.js"></script>

    <script>
        // Initialize AOS on non-mobile devices
        AOS.init({
            disable: 'mobile'
        });

        // If there are any faq links on this page then turn them into links
        $(function() {
            $("a.faq-item").attr("href", "javascript:void(0)").click(function() {
                $(this).find(".body").slideToggle();
            });
        });
    </script>
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2174797.js';
        e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
<!-- End of Async HubSpot Analytics Code -->


</body>

</html>
