<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.excerpt == "" or page.excerpt == nil %}
    <meta name="description" content="{{ site.description }}">
    {% else %}
    <meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' }}">
    {% endif %}

    <meta name="author" content="Mazira, LLC">
	<meta name="keywords" content="ediscovery, SaaS, Cloud based ediscovery, legal, software, small and solo practices ">

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- GoldFynch font -->
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen:300,400' rel='stylesheet' type='text/css'>

        {% if page.title == "" or page.title == nil %}
        <title>{{ site.title }}{{ layout.title_postfix }}</title>
        {% else %}
        <title>{{ page.title }}{{ layout.title_postfix }}</title>
        {% endif %}

    <!-- Bootstrap Core CSS -->
    <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{site.url}}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{{site.url}}/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- no ui slider -->
    <link href="{{site.url}}/vendor/nouislider/nouislider.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{site.url}}/css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
      <!-- jQuery -->
    <script src="{{site.url}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.url}}/vendor/nouislider/nouislider.min.js"></script>

    <nav id="mainNav" class="navbar navbar-default {{layout.blog_header_class}} {{page.additional_header_classes}}">
        <div class="container">
            <div class="navbar-header">
              <div>
                <div>
                  <a class="navbar-brand" href="/"><img class="goldfynch-logo" src="{{site.url}}/img/logo_square.png" style="float:left;" align="bottom" alt="Logo for GoldFynch ediscovery">
                    GoldFynch
                  </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavMenu">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
              </div>
            </div>

            <div class="navbar-collapse collapse" id="mainNavMenu">
              <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                  <a class="page-scroll" href="{{site.url}}/app/">Login</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.url}}/app/signup">Sign up</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a class="page-scroll" href="{{site.url}}/features">Features</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.url}}/pricing">Pricing</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.url}}/blog">Blog</a>
                </li>
                <li>
                  <a class="page-scroll" href="{{site.url}}/faq">FAQ</a>
                </li>
              </ul>
            </div>

        </div>
    </nav>


    {{ content }}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
			<hr>
			<div class"row">
				<div class="col-md-4">
		            <p class="footer-text">
						<a href="https://www.google.com/maps/place/Iowa+City+Area+Development+Group+At+MERGE/@41.6592569,-91.5345077,17z/data=!3m1!4b1!4m5!3m4!1s0x87e441e55f441ff3:0x9f63ab4c21b9a3d!8m2!3d41.6592569!4d-91.532319" target="_blank">136 S Dubuque Street, Iowa City, IA 52240</a>
		            </p>
					<p class="footer-text">
						<a href="tel:+18663197983">+1(866)319-7983</a> /  <a href="./contact.html">Contact</a> / <a href="mailto:info@goldfynch.com">Email</a> /  <a href="./services.html">Services</a> /  <a href="./about.html">About Us</a>
					</p>
				</div>
				<div class="col-md-4">
		            <a class="footer-logo" href="#page-top"><img src="{{site.url}}/img/logo_full.png" height="50px"></a>
				</div>
				<div class="col-md-4">
					<div class="footer-icon">
						<a class="fa fa-facebook-square" href="https://www.facebook.com/pages/Mazira/216219471762517" target="_blank"></a>
						<a class="fa fa-twitter" href="https://twitter.com/Mazira" target="_blank"></a>
						<a class="fa fa-linkedin" href="http://www.linkedin.com/company/mazira" target="_blank"></a>
					</div>
		            <p class="footer-text">All Rights Reserved / <a href="./legal.html">Legal</a> / Copyright 2016</p>
				</div>

			</div>

        </div>
    </footer>



    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.url}}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{site.url}}/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="{{site.url}}/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript">
     // link all video links
     $(document).ready(function() {
         function onPlayerStateChange(event) {
             if (event.data == YT.PlayerState.ENDED) {
                 $.magnificPopup.close();
             }
         }

         $(".how-it-works").magnificPopup({
             type:'iframe',
             iframe: {
                 markup: '<div class="mfp-iframe-scaler">'+
                         '<div class="mfp-close"></div>'+
                         '<iframe id="player" class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                         '</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button
                 patterns: {
                     youtube: {
                         index: 'youtube.com/',
                         id: 'v=',
                         src: '//www.youtube.com/embed/%id%?rel=0&autoplay=1&enablejsapi=1'
                     }
                 },
                 srcAction: 'iframe_src',
             },
             callbacks: {
                 open: function () {
                     new YT.Player('player', {
                         events: {
                             'onStateChange': onPlayerStateChange
                         }
                     });
                 }
             },
             midClick: true,
             closeOnBgClick: false,
             removalDelay: 500,
             mainClass: 'mfp-fade mfp-video'
         });
     });
    </script>
    <!-- Theme JavaScript -->
    <!-- <script src="{{site.url}}/js/creative.js"></script> -->

    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
     (function(d,s,i,r) {
         if (d.getElementById(i)){return;}
         var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
         n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2174797.js';
         e.parentNode.insertBefore(n, e);
     })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code -->
    <!-- Start of Google Analytics Code -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68239617-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- End of Async HubSpot Analytics Code -->
	
    <!-- Twitter universal website tag code -->
	<script>
    	!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    	},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    	a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    	// Insert Twitter Pixel ID and Standard Event data below
    	twq('init','nvlhx');
    	twq('track','PageView');
	</script>
	<!-- End Twitter universal website tag code -->

     <!-- Freshchat integration code  www.freshchat.io-->
    <script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='1MPX6WK75V';window._fcURL='https://mazira.freshchat.io';</script>
     <!-- End Freshchat integration code -->

</body>

</html>
