---
layout: default
blog_header_class: "gf-blog-dark-header"
title_postfix: " - GoldFynch Blog"
---

<section class="gf-blog-post-content">
  <div class="container">
    <div class="col-sm-9">
      <div class="gf-blog-post-header">
        <h1>{{page.title}}</h1>
        <div class="gf-blog-post-header-details">
          <span class="date">{{page.date | date_to_long_string}}</span>
          by
          <span class="Author">{{page.author}}</span>
          <span class="tags">
            {% for t in page.tags %}
            <span class="tag">{{t}}</span>
            {% endfor %}
          </span>
        </div>
      </div>
      <div class="gf-blog-post-text">
        {{content}}
      </div>
    </div>
    <div class="col-sm-3 hidden-xs">
      <div class="gf-blog-post-section">
        <h3>Recent Posts</h3>
        <ul class="recent-posts">
            {% for post in site.posts limit:10 %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
      </div>

      <!--
      <div class="gf-blog-post-section">
        <h3>Tags</h3>

        <ul>
            {% for tag in site.tags %}
            <li><a href="#">{{tag | first}}</a></li>
            {% endfor %}
        </ul>
      </div>
      -->
    </div>
  </div>
<section>
